<% layout('/layout/boilerplate') %> 

<body>
    <div class="row mt-3">
        <div class="col col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <form action="/matches/<%= match._id %>?_method=PUT" method="POST" novalidate class="validate-form">
                <div class='mb-3'>
                    <label for="team1" class='form-label text-white'>First Team:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" value="<%= match.team1 %>" id='team1' name='match[team1]'required>
                        <span class="input-group-text">Score:</span>
                        <input type="text" class="form-control" value="<%= match.score1 %>" aria-label="score1" id='score1' name ='match[score1]'required>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="team2" class='form-label text-white'>Second Team:</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" value="<%= match.team2 %>" id='team2' name='match[team2]'required>
                        <span class="input-group-text">Score:</span>
                        <input type="text" class="form-control" value="<%= match.score2 %>" aria-label="score2" id='score2' name ='match[score2]'required>
                    </div>
                </div>

                
                <div class="row g-3 mb-3">                    
                    <div class="col">
                        <label for="teamScorer1" class='form-label text-white'>First Team Goal Scorer:</label>
                      <textarea type="text" class="form-control" placeholder='name goals, name goals ,...'
                        aria-label="first Team goalScorer" id='teamScorer1' name=match[goalScorer1]><%= match.goalScorer1 %></textarea>
                    </div>
                    <div class="col">
                        <label for="teamScorer2" class='form-label text-white'>Second Team Goal Scorer:</label>
                        <textarea type="text" class="form-control" placeholder='name goals, name goals ,...' aria-label="second Team goalScorer" id='teamScorer2' name=match[goalScorer2]><%= match.goalScorer2%></textarea>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="playerOfTheMatch" name = 'match[playerOfTheMatch]' value="<%= match.playerOfTheMatch %>" required>
                    <label for="playerOfTheMatch" class="form-label">Player of the Match:</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="title" name = 'match[title]' placeholder="Enter Title" value="<%= match.title %>" required>
                    <label for="title" class="form-label">Title:</label>
                </div>

                <div class="form-floating mb-3">
                    <input type='text' class='form-control' id='date' name='match[date]' placeholder='dd-mmm-yyyy' value="<%= match.date%>" required>
                    <label for='date' class='form-label'>Date (dd-mmm-yyyy):</label>
                </div>  
                
                <div class="form-floating mb-3">
                    <input type='text' class='form-control' id='location' name='match[location]' placeholder='City, State' value="<%= match.location %>" required>
                    <label for='location' class='form-label'>Location (City, State):</label>
                </div>
                
                <div class="form-floating mb-3">
                    <input type='text' class='form-control' id='image' name='match[image]' placeholder='Add Image URL' value="<%= match.image%>">
                    <label for='image' class='form-label'>ImageUrl:</label>
                </div>   

                <div class="mb-3 text-center">
                    <button class='btn btn-warning'>Save Match</button>
                    <a href="/matches/<%= match._id %>" class="btn btn-primary">Back</a>
                </div>     
            </form>
        </div>
    </div>   
</body>
