<% layout('/layout/boilerplate') %> 
<body>
    <div class="row">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-end mb-1">
            <a class="btn btn-info me-md-2" href='/matches/new'>Add New Match</a>
          </div>
        <div class="col col-md-8 offset-md-2 col-lg-6 offset-lg-3">     
                <% for(let i=matches.length-1; i>=0; i--){ %> 
                    <div class="list-group  rounded">
                        <a href="/matches/<%= matches[i]._id %>" class='list-group-item list-group-item-action btn btn-outline-info'>
                            <div class='d-flex justify-content-between'>
                                <small class="text-muted badge rounded-pill bg-light"><%= matches[i].title %> </small>
                                <small class="text-muted badge rounded-pill bg-light"><%= matches[i].date %> </small>    
                            </div>                        
 
                            <div class='text-center'> 
                                <span class="row m-0">                            
                                        <span class="col p-0 d-flex justify-content-end">
                                            <span class="px-2"><%= matches[i].team1 %></span> 
                                        </span>
                                        <span class="col-2">
                                            <% if(matches[i].team1.replace(/ /g,'').toLowerCase() === 'soccera-z'){ %>
                                                <% if(matches[i].score1 > matches[i].score2 ) {%>
                                                    <span class='text-light bg-success px-1 rounded'><%= matches[i].score1 %> - <%= matches[i].score2 %> </span>
                                                <% } %>  

                                                <% if(matches[i].score1 < matches[i].score2 ) {%>
                                                    <span class='text-light bg-danger px-1 rounded'><%= matches[i].score1 %> - <%= matches[i].score2 %> </span>
                                                <% } %> 

                                                <% if(matches[i].score1 === matches[i].score2 ) {%>
                                                    <span class='text-light bg-secondary px-1 rounded'><%= matches[i].score1 %> - <%= matches[i].score2 %> </span>
                                                <% } %> 

                                            <%} else if(matches[i].team2.replace(/ /g,'').toLowerCase() === 'soccera-z'){ %> 
                                                <% if(matches[i].score1 < matches[i].score2 ) {%>
                                                    <span class='text-light bg-success px-1 rounded'><%= matches[i].score1 %> - <%= matches[i].score2 %> </span>
                                                <% } %>  

                                                <% if(matches[i].score1 > matches[i].score2 ) {%>
                                                    <span class='text-light bg-danger px-1 rounded'><%= matches[i].score1 %> - <%= matches[i].score2 %> </span>
                                                <% } %> 

                                                <% if(matches[i].score1 === matches[i].score2 ) {%>
                                                    <span class='text-light bg-secondary px-1 rounded'><%= matches[i].score1 %> - <%= matches[i].score2 %> </span>
                                                <% } %> 

                                            <%} else {%>
                                                <span class='text-light bg-info px-1 rounded'><%= matches[i].score1 %> - <%= matches[i].score2 %> </span>
                                            <% } %> 
                                        </span>
                                        <span class="col p-0 d-flex justify-content-start">
                                            <span class="px-2"><%= matches[i].team2 %></span>     
                                        </span>                           
                                </span>        
                            </div>
                          </a>
                    </div>
                <% } %>                   
        </div>
    </div>
</body>
