<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Matches</title>
</head>
<body>
    <h1>Matches</h1>    
            <ul>
                <% for(match of matches){ %> 
                    <a href="/matches/<%= match._id %> ">
                      <li><%= match.team1 %> <%= match.score1 %> - <%= match.score2 %> <%= match.team2 %></li>
                    </a>
                <% } %> 
            </ul>

            <a href="/matches/new">Add new Match</a>
</body>
</html>