<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= match.title %> </title>
</head>
<body>
    
    <h2><%= match.team1 %> <%= match.score1 %> - <%= match.score2 %> <%= match.team2 %></h2>    
    <h3><%= match.title %></h3>
    <h3><%= match.location %> </h3>
    <a href="/matches/<%= match._id %>/edit ">Edit</a>
    <br><br>
    <form action="/matches/<%=match._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    <a href="/matches">Back</a>
</body>
</html>