<% layout('/layout/boilerplate') %> 
<body>
    <div class="row mt-3">
        <div class="col-6 offset-3">
            <div class="card">                
                <div class="card-body">
                  <h5 class="card-title text-center"><%= match.team1 %> <%= match.score1 %> - <%= match.score2 %> <%= match.team2 %></h5>
                </div>
                <img src="<%= match.image %>" class="card-img" alt="...">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">⚽ <%= match.title %></li>
                  <li class="list-group-item">📅 <%= match.date %></li>
                  <li class="list-group-item">🏁 <%= match.location %></li>
                </ul>
                <div class="card-body">
                  <a href="/matches/<%= match._id %>/edit" class="btn btn-info">Edit</a>
                  <form action="/matches/<%=match._id%>?_method=DELETE" method="POST" class='d-inline'>
                    <button class='btn btn-danger'>Delete</button>
                  </form>
                </div>
              </div>
        </div>
    </div>
</body>
